@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik:wght@900&display=swap');

body{
  display: flex;
  margin: 0%;
}

.logo-container{
  background-image: url("bg.jpg");
  width: 40%;
  height: 900px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-bg{
  margin-top: 200px;
  padding: 1rem;
  background:rgb(0,0,0,0.5);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.photo-credit{
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.photo-credit a:visited {
  color: #fff;
}

.form-container{
  
  height: 900px;
  width: 60%;
}

.text-section{
  background: #f8f8f8;
  height: 35%;
  display: flex;
}

.text{
  font-size: 26px;
  width: 45ch;
  margin-left: 3rem;
  margin-bottom: 3rem;
  align-self: flex-end;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}


.form-section{
  background: #fff;
  height: 30%;
  border-top: 1px solid #eeeeee ;
  
}

.form-row{
  display: flex;
  justify-content: flex-start;
  margin-left: 3rem;
}

.form-col{
  display: flex;
  flex-direction: column;
  margin-right: 7rem;
  margin-top: 1rem;
}

legend{
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

label{
  font-family: 'Roboto', sans-serif;
  font-size: small;
  font-weight: 100;
  letter-spacing: 2px;
}

input{
  width: 130%;
  height: 1.7rem;
  border-radius: 4px;
  border: 1px solid #D6D9DC;
  padding-left: 5px;
  font-size: 14px;
}

input:focus{
  outline: none;
  border: 1px solid #5e87b8;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.error{
  outline: none;
  border: 1px solid #bc2525;
}

.error_message{
  color: #bc2525;
}

.button-section{
  background: #f8f8f8;
  height: 35%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px inset;
}

.button-section button{
  width: 14rem;
  height: 3.2rem;
  border-radius: 10px;
  margin-left: 3rem;
  margin-top: 2rem;
  background: #a2792f;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.5);
}

button:hover{
  filter: brightness(130%);
}

.login{
  margin-left: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.login a{
  color: #a2792f;
  
  
}